# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrive - Visoko uciliste Algebra\Faks\3. godina\1. semestar\Programiranje u Javi 2\Zavrsni\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
